# Set the default working directory when opening a new window.
working-directory = "~/Code"

# Ensures new tabs open in the default working directory.
tab-inherit-working-directory = false

# Allows the usage of Option as a modifier e.g. Option + Backspace to remove an entire word.
macos-option-as-alt = true
